@import "tailwindcss";
@plugin "daisyui";

body {
  overflow: hidden;
  scroll-behavior: smooth;
}
html{
  --text: #300627;
  --background: #fbf4eb;
  --primary: #c2185b;
  --secondary: #e4417f;
  --accent: #850e35;

  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}

html.dark{
  --text: #ffffff;
  --background: #1d1b1d;
  --primary: #df4385;
  --secondary: #e977a8;
  --accent: #dc3781;
}
h1{
  font-size: 64px;
  color: var(--primary);
}

h3{
  font-size: 40px;
  color: var(--secondary);
}

h5{
  font-size: 30px;
}
p{
  font-size: 20px;
  line-height: 1.7;
}

a:hover{
  text-decoration: underline;
}
